{% if promoalbum %}
<div id="{{ box }}" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for promo in promoalbum.promos %}
        <li data-target="#{{ box }}" data-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for promo in promoalbum.promos %}
            <div class="item{% if loop.index0 == 0 %} active{% endif %}">
                {% if promo.url %}
                    <a href="{{ promo.url }}">
                {% endif %}
                <img src="{% path promo.media, 'big' %}" alt="{{ promo.title }}">
                {% if promo.url %}
                    </a>
                {% endif %}
                <div class="carousel-caption">
                    <h3>{{ promo.title }}</h3>
                    {{ promo.description }}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#{{ box }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#{{ box }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endif %}
