{% if promos %}
<div class="slider-wrapper theme-default" style="position: relative;">
    <div id="slider" class="nivoSlider">
    {% for promo in promos %}
        <a href="{{ promo.url }}"><img src="{% path promo.media, 'big' %}" alt="" title="#nivodesc{{ loop.index }}"/></a>
    {% endfor %}
    </div>
    {% for promo in promos %}
        <div id="nivodesc{{ loop.index }}" class="nivo-html-caption"><h3>{{ promo.title }}</h3>{{ promo.description }}</div>
    {% endfor %}
</div>
{% endif %}
