{% if promoalbum %}
<div class="wide-container">
    <div id="slides">
        <ul class="slides-container">
            {% for promo in promoalbum.promos %}
            <li>
                <img src="{% path promo.media, 'big' %}" alt="{{ promo.title }}">
                <div class="container">
                    <h1 class="slider">{{ promo.title }}</h1>
                    <p class="slider">{{ promo.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>

        <nav class="slides-navigation">
            <a href="#" class="next"></a>
            <a href="#" class="prev"></a>
        </nav>
    </div>
</div>
{% endif %}
