{% if promos %}
<div class="thumbspromo">
    {% for promo in promos %}
        <div class="thumb">
            <a href="{{ promo.url }}"><img src="{% path promo.media, 'small' %}" alt=""/></a>
        </div>
        {% if loop.index is divisibleby(3) %}<div class=cl_b></div>{% endif %}
    {% endfor %}
</div>
{% endif %}
