#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  margin: 1em;
  background-image: url('theme/superslides_btn.png');
}
.slides-navigation a.prev {
  left: 0;
  background-position: 0 80px;
}
.slides-navigation a.prev:hover {
  background-position: 0 40px;
}
.slides-navigation a.next {
  right: 0;
  background-position: 0 160px;
}

.slides-navigation a.next:hover {
    background-position: 0 120px;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 1em;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #ffffff;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #CCC;
  margin: 2px;
  overflow: hidden;
  text-indent: 100%;
}
.slides-pagination a.current {
  background: #585858;
}


h1.slider {
    color: #FFFFFF;
}

p.slider{
    color: #FFFFFF;
    font-weight: 300;
    margin: 30px 0;
    text-shadow: 0 1px 1px #000000;
    font-size: 2em;
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}